.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.hero-content {
  text-align: center;
}

.hero-greeting {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.hero-title {
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.hero-subtitle {
  color: var(--primary-color);
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 1.1rem;
  max-width: 700px;
  line-height: 1.8;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.hero-buttons a {
  text-decoration: none;
  transition: transform 0.3s ease;
  background-color: var(--primary-color);
  color: var(--white);
  padding: 7px;
}

.hero-buttons a:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

/*photo de profil*/
.profile-image {
  width: 320px;
  height: 320px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.profile-image:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {

  .hero {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .hero-content {
    order: 2;
  }

  .hero-image {
    order: 1;
    margin-bottom: 30px;
  }

  .hero-buttons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .profile-image {
    width: 240px;
    height: 240px;
  }
}