.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
}

.hero-greeting {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.hero-title {
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.hero-subtitle {
  color: var(--primary-color);
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 1.1rem;
  max-width: 800px;
  line-height: 1.8;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

/*photo de profil*/
.profile-image {
  width: 320px;
  height: 320px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.profile-image:hover {
  transform: scale(1.05);
}