.header {
  width: 100%;
  background-color: white;
  padding: 20px 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.nav-links a:hover {
  color: #2563eb;
}