* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #7C3AED;
  --secondary-color: #06B6D4;
  --accent-color: #A78BFA;

  --dark-color: #0F172A;
  --text-color: #475569;
  --light-color: #F8FAFC;
  --white: #FFFFFF;
}

/*styles generaux */
body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}